$grey: #bdc3c7;
$black: #34495e;
$green: #1abc9c;
$white: #ecf0f1;
$orange: #e67e22;
$purple: #8e44ad;

@import "_misc/adjustment";
@import "section/tabs";
@import "section/slideshow";
@import "section/acco";
@import "section/slider";



//@import "section/works";
